<app-navbar></app-navbar>


<div class="container">
  <div class="container__perfil">
    <img src="perfil_usuario.png" alt="foto_perfil" class="perfi__imagem" />
    <h2 class="perfil__usuario">  {{ usuario?.username }}</h2>
    <p class="perfil__numavalidos"> X músicas avaliadas
      <i class="fa-solid fa-music icone_musica"></i>
    </p>
    <div class="perfil__generos">
      <p class="genero">
        Rock
      </p>
      <p class="genero">
        Clássica
      </p>
      <p class="genero">
        Eletrônica
      </p>
    </div>
    <button class="editar">
      Editar pefil
    </button>
  </div>
</div>