<app-navbar></app-navbar>
 <app-minhas-avaliacoes></app-minhas-avaliacoes>
<div class="container">
  <div *ngIf="usuario" class="container__perfil">
    
    <div class="perfil__imagem-container">
      <img 
        [src]="fotoPreview || usuario.foto || '/perfil_usuario.png'" 
        alt="foto_perfil" 
        class="perfil__imagem" />
      
      <div *ngIf="editando" class="imagem-overlay" (click)="fileInput.click()">
        <i class="fa-solid fa-camera"></i>
        <span>Trocar Foto</span>
      </div>
    </div>
    
    <input type="file" #fileInput hidden (change)="aoSelecionarFoto($event)" accept="image/png, image/jpeg">
    
    <ng-container *ngIf="!editando">
      <h2 class="perfil__usuario">{{ usuario.username }}</h2>
      <p class="perfil__bio">{{ usuario.bio || 'Sem biografia. Edite seu perfil para adicionar uma.' }}</p>

      <button class="editar" (click)="iniciarEdicao()">Editar perfil</button>
    </ng-container>

    <ng-container *ngIf="editando && usuarioEditavel">
      <input type="text" [(ngModel)]="usuarioEditavel.username" class="edit-field" placeholder="Nome de usuário">
      
      <textarea [(ngModel)]="usuarioEditavel.bio" class="edit-field" placeholder="Escreva sua biografia..."></textarea>
      
      <div class="botoes-edicao">
        <button class="salvar" (click)="salvarAlteracoes()">Salvar</button>
        <button class="cancelar" (click)="cancelarEdicao()">Cancelar</button>
      </div>
    </ng-container>

  </div>
</div>  