<nav class="navbar">
  <div class="nav_logo">
    <a routerLink="/inicio">
      <img src="LogoBreeze.svg" alt="logo SVG do site breeze" />
    </a>
  </div>

  <div class="nav_search">
    <form (ngSubmit)="buscar()">
      <input
        type="text"
        placeholder="Encontre a sua vibe..."
        [(ngModel)]="termoBusca"
        name="termoBusca"
      />
      <button type="submit" aria-label="Buscar">
        <i class="fas fa-search"></i> </button>
    </form>
  </div>

  <div class="nav_actions">
    <ng-container *ngIf="autenticaoServico.logado(); else deslogado">
      <button class="btn perfil_btn" routerLink="/perfil">Perfil</button>
      <button class="btn sair_btn" (click)="logout()">Sair</button>
    </ng-container>

    <ng-template #deslogado>
      <button class="btn login_btn" routerLink="/login">Entre para a Vibe</button>
      <button class="btn cadastro_btn" routerLink="/cadastro">Crie sua Conta</button>
    </ng-template>
  </div>
</nav>


<!-- <header class="header">
    <div class="header__logo">
      <a routerLink="/inicio">
        <img src="LogoBreeze.svg" alt="Breeze Logo"/>
      </a>
    </div>
  
    <div class="header__busca">
      <input
        type="text"/>
  
      <button (click)="buscar()" aria-label="Buscar">
        <i class="fas fa-search"></i>
      </button>
    </div>
  
    <nav class="header__botoes">
      <button routerLink="/perfil" class="botao botao_perfil">
        <i class="fas fa-user"></i>
        Perfil
      </button>
    </nav>
  </header> -->
