@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181425;
  padding: 10px 10px;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;          
  z-index: 1000; 
}

.nav_logo {
  display: flex;
  align-items: flex-start;
}

.nav_logo img {
  height: 40px;
}

.nav_links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav_links li {
  margin: 0 20px;
}

.nav_links a {
  text-decoration: none;
  color: #c5c0e0;
  font-size: 0.95em;
  transition: color 0.3s ease;
  font-family: "Chivo";
}

.nav_links a:hover {
  color: #ffffff;
}

.nav_actions {
  display: flex;
  align-items: center;
}

.btn {
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 12px;
  font: 0.09em;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: "Chivo";
}

.btn:hover {
  transform: translateY(-2px);
}

.login_btn, .cadastro_btn {
  color: #ffffff;
}

.login_btn{
  background-color: #7f5af0;
}

.cadastro_btn{
  background-color: #2d2546;
}

.login_btn:hover,
.cadastro_btn:hover {
  background-color: #5c2af1;
}


.perfil_btn, .sair_btn {
  color: white;
  background-color: #7f5af0
}




/* .header {
    width: 100;
    background-color: #1E1D26;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__logo img {
    height: 50px;
  }
  
  .header__busca {
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
    display: flex;
    background: #2E2D38;    
    border-radius: 6px;
  }
  
  .header__busca input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 8px 12px;
    color: #fff;
    font-size: 14px;
  }
  
  .header__busca input:focus {
    outline: none;
  }
  
  .header__busca button {
    border: none;
    background: transparent;
    padding: 0 12px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
  }

  .header__busca input::content{
    font-size: 16px; 
    font-family: "Chivo"; 
    color: #FFF;
  }

 
  .header__botoes {
    display: flex;
    gap: 10px;
    margin-right: 10px;
  }
  
  .botao {
    display: flex;
    align-items: center;
    gap: 6px;
    width:  90px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    font-family: "Chivo";
    font-weight: 600;
    color: #fff;
  }
  
  .botao_perfil{
    background-color: #2CB67D;
  }
  .botao_perfil:hover {
    background-color: #27a26c;
  } */
