<nav class="navbar">
  <div class="nav_logo">
    <a routerLink="/login">
    <img src="LogoBreeze.svg" alt="logo SVG do site breeze" />
    </a>
  </div>

  <div class="nav_actions">
    <ul class="nav_links">
      <li><a routerLink="/inicio">Como Funciona</a></li>
      <li><a routerLink="/perfil">Explorar Gêneros</a></li>
    </ul>

    <button class="btn login_btn">Entre para a Vibe</button>
    <button class="btn cadastro_btn">Crie sua Conta</button>
  </div>
</nav>

<!-- <header class="header">
    <div class="header__logo">
      <a routerLink="/inicio">
        <img src="LogoBreeze.svg" alt="Breeze Logo"/>
      </a>
    </div>
  
    <div class="header__busca">
      <input
        type="text"/>
  
      <button (click)="buscar()" aria-label="Buscar">
        <i class="fas fa-search"></i>
      </button>
    </div>
  
    <nav class="header__botoes">
      <button routerLink="/perfil" class="botao botao_perfil">
        <i class="fas fa-user"></i>
        Perfil
      </button>
    </nav>
  </header> -->
