.container {
  padding: 20px;
  font-family: "Chivo";
  color: white
  
}

.titulo {
  text-align: start;
  font-size: 2em;
  margin-bottom: 20px;
}


.container__musicas, .container__generos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}


.musicas, .generos {
  background-color: #2CB67D; 
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  height: 150px; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.musicas h3, .generos h3 {
  font-size: 1.2em;
  color: white;
}