<app-navbar></app-navbar>

<div class="container">
    <h1 class="titulo"> MÚSICAS FAVORITAS</h1>
    <div class="container__musicas">
        <div class="musicas">
            <h3>Nome da Música 1</h3>
        </div>
        <div class="musicas">
            <h3>Nome da Música 2</h3>
        </div>
        <div class="musicas">
            <h3>Nome da Música 3</h3>
        </div>
    </div>
    
    <h1 class="titulo"> GÊNEROS</h1>
    <div class="container__generos">
        <div class="generos">
            <h3>Gênero 1</h3>
        </div>
        <div class="generos">
            <h3>Gênero 2</h3>
        </div>
        <div class="generos">
            <h3>Gênero 3</h3>
        </div>
    </div>
</div>
